@font-face {
  font-family: 'BanKGhotic';
  src: url('../fontes/bank.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

.topo {
  display: flex;
  background-image: url(../imagens/Topo.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 9vh;
  z-index: 3;
}

.topo2 {
  background-image: url(../imagens/Topo2.png);
  background-size: cover;
  position: absolute;
  top: 81px;
  right: 0;
  width: 73%;
  height: 1vh;
  z-index: 2;
}

.texto-topo {
    color: white;
    font-family: 'BanKGhotic', sans-serif;
    font-size: 26px;
}

.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 14vh;
    width: 100%;
}

.automação {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 34vh;
    left: 4vw;
    width: 20vw;
}

.usinagem {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 34vh;
    left: 28vw;
    width: 20vw;
}

.assistencia {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 34vh;
    left: 52vw;
    width: 20vw;
}

.produtos {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 34vh;
    left: 76vw;
    width: 20vw;
}

.imagemCima {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 2vh;
    top: 77vh;
    background-image: url(../imagens/ImagemCima.png);
    background-size: contain;
}

.imagemMeio {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    top: 79vh;
    background-image: url(../imagens/ImagemMeio.png);
    background-size: cover;
    z-index: 1;
}

.imagemBaixo {
    position: absolute;
    justify-content: center;
    align-items: center;
    background-image: url(../imagens/ImagemCima.png);
    background-size: cover;
    width: 100%;
    height: 2vh;
    top: 139vh;
    z-index: 0;
}

.fundoMeio {
    position: absolute;
    align-items: center;
    width: 60%;
    height: 60vh;
    top: 79vh;
}

.FaleConosco {
    position: absolute;
    left: 5vw;
    top: 85vh;
    z-index: 5;
    color: white;
    font-size: 50px;
    font-family: 'BanKGhotic', sans-serif;
}

.Felipe {
    position: absolute;
    background-image: url(../imagens/Felipe\ Franco.png);
    background-size: cover;
    width: 25vw;
    height: 8vh;
    left: 5vw;
    top: 100vh;
    z-index: 5;
    color: white;
    font-size: 50px;
    font-family: 'BanKGhotic', sans-serif;
}

.Junior {
    position: absolute;
    background-image: url(../imagens/Junior\ Franco.png);
    background-size: cover;
    width: 25vw;
    height: 8vh;
    left: 5vw;
    top: 115vh;
    z-index: 5;
    color: white;
    font-size: 50px;
    font-family: 'BanKGhotic', sans-serif;
}

.base {
    position: absolute;
    background-image: url(../imagens/Base.png);
    background-size: cover;
    width: 100%;
    height: 15vh;
    top: 141vh;
}

.endereço {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 152vh;
    font-size: 24px;
    font-family: 'BanKGhotic', sans-serif;
    width: 100%;
}

.midia {
    position: absolute;
    color: white;
    top: 145vh;
    font-size: 24px;
    font-family: 'BanKGhotic', sans-serif;
    width: 100%;
}

.FelipeNumero {
    position: absolute;
    top: 145vh;
    font-size: 24px;
    font-family: 'BanKGhotic', sans-serif;
    left: 2vw;
    color: white;
    width: 22vw;
}

.telefone {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.JuniorNumero {
    position: absolute;
    top: 145vh;
    font-size: 24px;
    font-family: 'BanKGhotic', sans-serif;
    left: 76vw;
    color: white;
    width: 22vw;
}