@font-face {
    font-family: 'BanK';
    src: url(../Fontes/bank.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    width: 100%;
    font-family: 'BanK', sans-serif;
}

header {
    display: flex;
    background-image: url(../Imagens/Topo.png);
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 0vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0.5s ease-out;
}

.Header {
    height: 10vh;
}

#TextoHeader {
    font-size: clamp(1rem, 2.3vw, 3.5rem);
    color: white;
    opacity: 0;
    scale: 0.9;
    transition: opacity 1s, scale 1s; 
}

#TextoHeader.Animar {
    color: white;
    opacity: 1;
    scale: 1.1;
}



.topo {
    position: absolute;
    display: flex;
    background-image: url(../Imagens/Topo2.png);
    background-size: cover;
    right: 0;
    width: 75vw;
    height: 0vh;
    overflow: hidden;
    transition: height 0.5s ease-in;
}

.topo.Animar {
    height: 1.5vh;
}

.Logo1 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 1.5vh;
    width: 100%;
    height: 21.5vh;
}

.Logo2 {
    position: absolute;
    display: flex;
    top: 5vh;
    left: 35vw;
    width: 30vw;
    height: 10.5vh;
    justify-content: center;
}

nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    gap: 5vw;
    background-color: white;
}

.botao {
    width: 20vw;
    height: 50vh;
}

main {
    position: relative;
    display: flex;
    width: 100%;
    height: 69vh;
}

.Meio1 {
    width: 100%;
    height: 2vh;
    background-image: url(../Imagens/ImagemCima.png);
    background-size: cover;
}

.Meio2 {
    position: absolute;
    top: 2vh;
    width: 100%;
    height: 67vh;
    background-image: url(../Imagens/ImagemMeio.png);
    background-size: cover;
    z-index: 0;
}

.FundoMeio {
    position: absolute;
    top: 2vh;
    width: 58%;
    height: 67vh;
}

.ContainerMeio {
    position: absolute;
    display: flex;
    top: 10vh;
    width: 58%;
    height: 59vh;
    z-index: 4;
}

.TextoMeio {
    position: absolute;
    display: flex;
    width: 80%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(2rem, 4vw, 5rem);
    z-index: 4;
}

.Contato {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 12vh;
    width: 74%;
    height: 12vh;
}

.Contato2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30vh;
    width: 74%;
    height: 12vh;
}

.BotaoContato {
    width: 30vw;
    height: 12vh;
}

footer {
    position: relative;
    top: 10vh;
    width: 100%;
    height: 22vh;
    background-image: url(../Imagens/Base.png);
    background-size: cover;
}

.TopoRodape {
    position: absolute;
    width: 100%;
    height: 2vh;
    background-image: url(../Imagens/ImagemCima.png);
    background-size: cover;
}

.Felipe {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    top: 5vh;
    width: 22%;
    height: 10vh;
    align-items: center;
}

.TextoRodape {
    color: white;
    font-size: clamp(1rem, 1.6rem, 3rem);
}

.NumeroRodape {
    width: 90%;
    height: 6vh;
}

.Rua {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    top: 5vh;
    left: 22%;
    width: 56%;
    height: 10vh;
    align-items: center;
}

.ContainerMidia {
    width: 30vh;
}

.Junior {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    top: 5vh;
    left: 78%;
    width: 22%;
    height: 10vh;
    align-items: center;
}

.FundoMeio,
.ContainerMeio {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.FundoMeio.ativo {
    opacity: 1;
    transform: translateX(0);
}

.ContainerMeio.ativo {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.5s; /* aparece depois da FundoMeio */
}
